{% extends 'TroiswaPublicBundle:Main:layout.html.twig' %}


    {% block title  %}


    <title> Acteurs {{ parent() }} </title>


     {% endblock %}


     {% block body %}


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Tous les acteurs
                    <small>Détails et biographie</small>
                </h1>
                <h4>

                    <a href="{{ path('troiswa_public_admin_ajouter_acteur') }}"> Ajouter un acteur </a> 



                </h4>

            </div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('troiswa_public_homepage') }}">Accueil</a>
                    </li>
                    <li class="active">Acteurs</li>
                </ol>
                



        </div>
        <!-- /.row -->


        <div class="row">

            {% for act, info in acteurs %}

            <div class="col-md-4 portfolio-item">
                <a href="portfolio-item.html">

                    {# Lien en dur, mais on va préférer quelque chose de dynamique, qui créer le chemin#}

                    {#
                    <img class="img-responsive" src="{{ asset("uploads/Acteurs/" ~ info.image)}}">
                    #}

                    {#Version dynamique#}

                    <img class="img-responsive" src="{{ asset(info.webPath) }}"  height ="600" width = "800">
                    {# webPath recherche dans le controlleur la mention de webPath #}




                </a>
                <h3><a href="{{ path('troiswa_public_acteur', {'acteurid' : info.id } ) }}">{{ info.prenom }} {{ info.nom }}</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            {% endfor %}

        </div>

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!-- /.container -->

    {% endblock %}

