{% extends 'TroiswaPublicBundle:Main:layout.html.twig' %}


    {% block title  %}


    <title> Catégories {{ parent() }}</title>


    {% endblock %}



    {% block body %}


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Catégories
                    <small>Toutes les catégories et les films correspondants</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('troiswa_public_homepage') }}">Accueil</a>
                    </li>
                    <li class="active">Catégories</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="panel-group" id="accordion">

                {% for categorie in categories  %}
                

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}">               
                                 {{ categorie.titre }}  
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-{{ loop.index }}" class="panel-collapse collapse">
                            
                                
                                {% for film in categorie.films  %} 
                                <div class="panel-body">
                               
                                
                                <a href="{{ path('troiswa_public_film', {'filmid': film.id}) }}" target = "_blank"> {{ film.titre }}
                                </ul>
                                </div>

                                {% endfor %}

                            
                        </div>
                    </div>


                    </div>

                    {% endfor %}

                </div>
            </div>
                    
                



    <!-- /.container -->

     {% endblock %}




    {% block javascript %}

    {% endblock %}

